@import url(https://fonts.googleapis.com/css2?family=Capriola&display=swap);

@font-face {
    font-family: 'BBH';
    src: url('font/BBHHegarty-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif;
}

body {
    background-color: #ffffff;
}

header {
    background-color: #E61616;
    width: 100%;
    padding: 0px 25px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
        display: flex;
        display: none;
        cursor: pointer;

        @media (max-width:845px) {
            display: block;
        }

        img {
            width: 50px;
        }
    }

    img {
        width: 100px;
        padding: 10px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-right: 50px;
        color: white;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 25px;

        @media (max-width:845px) {
            display: none;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                font-size: 22px;
                transition: 0.5s;
            }
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;

    .caixa {
        position: relative;
        background-color: #F7F1E8;
        padding: 125px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 25px;
        gap: 25px;

        h1 {
            font-size: 45px;
            font-weight: 900;
            color: red;
            font-family: 'BBH Hegarty', sans-serif;
            font-size: 75px;
            font-weight: 900;
        }

        p {
            font-size: 23px;
            width: 1200px;
        }

        .ondas {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .linhaH {
            position: absolute;
            bottom: 0;
            left: 400px;
        }
    }
}

.marcas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0px 50px;
    background-color: #F7F1E8;

    img {
        width: 130px;
    }

    .logo {
        margin-top: -100px;
        width: 200px;
    }
}

.Carrossel {
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    z-index: 1;

    .seta {
        background-color: #FEFBE6;
        color: #FF0000;
        border-radius: 50px;
        font-size: 50px;
        position: relative;
        padding: 25px;
        width: 15px;
        height: 15px;
        position: relative;
        cursor: pointer;

        img {
            position: absolute;
            top: 18px;
            left: 18px;
        }

        .s2 {
            rotate: 180deg;
            left: 22px;
            top: 16px;
        }

    }

    .cards {
        padding: 55px;
        position: relative;

        .card {
            background-color: rgba(200, 200, 200);
            height: 500px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 25px;
            padding: 10px;
            position: relative;
            z-index: 3;
            border-radius: 25px;

            p {
                font-size: 22px;
            }

            .item {
                background-image: url(img/hotB.png);
                height: 250px;
                width: 200px;
                background-size: cover;
            }

            .iteml {
                background-image: url(img/UnoB.png);
                height: 250px;
                width: 200px;
                background-position: center;
                background-repeat: no-repeat;
            }

            .itemr {
                background-image: url(img/BarbieB2.png);
                height: 250px;
                width: 200px;
                background-size: cover;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                button {
                    cursor: pointer;
                    padding: 12px 50px;
                    background-color: #ECD407;
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 900;
                }
            }
        }

        .lef {
            position: absolute;
            top: 55px;
            left: -125px;
            z-index: 2;
            background-color: rgba(222, 222, 222, 0.80);
            transform: scale(0.75);
        }

        .rig {
            position: absolute;
            top: 55px;
            right: -125px;
            z-index: 2;
            background-color: rgba(222, 222, 222, 0.80);
            transform: scale(0.75)
        }
    }
}