@import url(https://fonts.googleapis.com/css2?family=Capriola&display=swap);

@font-face {
    font-family: 'BBH';
    src: url('font/BBHHegarty-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif;
}

body {
    background-color: #ffffff;
}

header {
    background-color: #E61616;
    width: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;


    img {
        width: 100px;
        padding: 10px;
    }

    .menu {
        display: none;
        cursor: pointer;

        img {
            width: 50px;
            padding: 0;
        }

        .mn {
            display: none;
        }

        @media (max-width: 845px) {
            display: block;
        }
    }

    .nav {
        display: block;

        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            margin-right: 50px;
            color: white;
            font-size: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 25px;

            a {
                text-decoration: none;
                cursor: pointer;
                color: white;
                transition: 0.3s;

                &:hover {
                    font-size: 22px;
                }
            }
        }
    }

    @media (max-width: 845px) {

        .nav {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #E61616;
            z-index: 10;
            padding: 10px 0;

            nav {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0;
                gap: 15px;
                background-color: transparent;
                border-radius: 0;
                padding: 10px;

                a {
                    font-size: 20px;
                }
            }
        }

        &.menu-open {
            .nav {
                display: block;
            }

            #menu {
                display: none;
            }

            #menuC {
                display: block;
            }
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;

    @media (max-width:648px) {
        padding: 55px;
    }

    .caixa {
        position: relative;
        background-color: #F7F1E8;
        width: 1300px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 25px;
        gap: 25px;

        @media (max-width:1200px) {
            width: 900px;
        }

        @media (max-width:800px) {
            width: 650px;
        }

        @media (max-width:648px) {
            width: 450px;
        }

        h1 {
            font-size: 45px;
            font-weight: 900;
            color: red;
            font-family: 'BBH Hegarty', sans-serif;
            font-size: 75px;
            font-weight: 900;

            @media (max-width:1200px) {
                font-size: 55px;
                text-align: center;
            }

            @media (max-width:648px) {
                font-size: 35px;
            }
        }

        p {
            font-size: 23px;
            width: 1200px;

            @media (max-width:1200px) {
                width: 800px;
                text-align: center;
            }

            @media (max-width:800px) {
                width: 650px;
                font-size: 20px;
            }

            @media (max-width:648px) {
                width: 100%;
                font-size: 18px;
            }

            @media (max-width:552px) {
                font-size: 16px;
                width: 400px;
            }
        }

        .ondas {
            position: absolute;
            bottom: 0;
            right: 0;

            @media (max-width:1200px) {
                width: 250px;
            }
        }

        .linhaH {
            position: absolute;
            bottom: 0;
            left: 400px;

            @media (max-width:800px) {
                left: 200px;
            }

            @media (max-width:648px) {
                left: 50px;
            }
        }
    }
}

.marcas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0px 50px;
    background-color: #F7F1E8;

    @media (max-width:780px) {
        gap: 5px;
    }

    img {
        width: 130px;

        @media (max-width:1102px) {
            width: 90px;
        }

        @media (max-width:880px) {
            width: 75px;
        }

        @media (max-width:640px) {
            width: 60px;
        }

        @media (max-width:555px) {
            width: 50px;
        }

        @media (max-width:465px) {
            width: 60px;
        }
    }

    .sumir{
        @media (max-width:465px) {
            display: none;
        }
    }

    .logo {
        margin-top: -100px;
        width: 200px;

        @media (max-width:1102px) {
            width: 100px;
            margin-top: -80px;
        }

        @media (max-width:800px) {
            width: 80px;
        }

        @media (max-width:555px) {
            width: 65px;
        }
    }
}

.Carrossel {
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    z-index: 1;

    @media (max-width:825px) {
        gap: 100px;
    }

    @media (max-width:555px) {
        gap: 75px;
    }

    @media (max-width:500px) {
        gap: 55px;
    }

    @media (max-width:455px) {
        gap: 30px;
    }

    .seta {
        background-color: #FEFBE6;
        color: #FF0000;
        border-radius: 50px;
        font-size: 50px;
        position: relative;
        padding: 25px;
        width: 15px;
        height: 15px;
        position: relative;
        cursor: pointer;

        @media (max-width:660px) {
            padding: 15px;
        }

        img {
            position: absolute;
            top: 18px;
            left: 18px;
            @media (max-width:660px) {
                top: 7px;
                left: 7px;
            }
        }

        .s2 {
            rotate: 180deg;
            left: 22px;
            top: 16px;

            @media (max-width:660px) {
                top: 7px;
                left: 12px;
            }
        }

    }

    .cards {
        padding: 55px;
        position: relative;

        .card {
            background-color: #D9D9D9;
            height: 500px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 25px;
            padding: 10px;
            position: relative;
            z-index: 3;
            border-radius: 25px;

            @media (max-width:825px) {
                width: 250px;
            }

            @media (max-width:625px) {
                width: 175px;
            }

            @media (max-width:500px) {
                height: 350px;
            }

            p {
                font-size: 22px;

                @media (max-width:625px) {
                    font-size: 18px;
                }

                @media (max-width:500px) {
                    font-size: 14px;
                }
            }

            .item {
                background-image: url(img/hotB.png);
                height: 250px;
                width: 200px;
                background-size: cover;

                @media (max-width:625px) {
                    background-position: center;
                    width: 125px;
                    background-repeat: no-repeat;
                }
            }

            .iteml {
                background-image: url(img/UnoB.png);
                height: 250px;
                width: 200px;
                background-position: center;
                background-repeat: no-repeat;
            }

            .itemr {
                background-image: url(img/BarbieB2.png);
                height: 250px;
                width: 200px;
                background-size: cover;
                @media (max-width:625px) {
                    margin-left: -55px;
                }

                @media (max-width:455px) {
                    margin-left: 10px;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                button {
                    cursor: pointer;
                    padding: 12px 50px;
                    background-color: #ECD407;
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 900;

                    @media (max-width:500px) {
                        padding: 12px 25px;
                    }
                }
            }
        }

        .lef {
            position: absolute;
            top: 55px;
            left: -125px;
            z-index: 2;
            background-color: #ABABAB;
            transform: scale(0.75);

            @media (max-width:625px) {
                left: -75px;
            }

            @media (max-width:455px) {
                left: -45px;
            }
        }

        .rig {
            position: absolute;
            top: 55px;
            right: -125px;
            z-index: 2;
            background-color: #ABABAB;
            transform: scale(0.75);

            @media (max-width:625px) {
                right: -75px;
            }

            @media (max-width:455px) {
                right: -45px;
            }
        }
    }
}

.rolagem {
    width: 100%;
    height: 500px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 55px;
    overflow-x: scroll;

    .caixa {
        width: 400px;
        height: 400px;
        border-radius: 25px;
        flex-shrink: 0;
        margin-left: 25px;

        @media (max-width:1100px) {
            width: 250px;
            height: 250px;
        }

        p {
            position: absolute;
            font-size: 22px;
            bottom: 25px;
            left: 35px;
            color: white;

            span {
                color: #000;
            }
        }
    }

    .barbie {
        position: relative;
        background-image: url(img/BarbieF.png);
        background-size: cover;
    }

    .BarbieB3 {
        position: absolute;
        top: -40px;
        left: 100px;
        width: 175px;

        @media (max-width:1100px) {
            width: 100px;
            left: 75px;
        }
    }

    .BarbieLB {
        position: absolute;
        bottom: 45px;
        left: 20px;
        width: 175px;

        @media (max-width:1100px) {
            width: 125px;
            left: 25px;
        }
    }

    .hotW {
        position: relative;
        background-image: url(img/HotF.png);
        background-size: cover;
    }

    .HotB {
        position: absolute;
        top: -40px;
        left: 80px;
        width: 250px;

        @media (max-width:1100px) {
            width: 125px;
            left: 65px;
        }
    }

    .HotLC {
        position: absolute;
        bottom: 45px;
        left: 20px;
        width: 200px;

        @media (max-width:1100px) {
            width: 100px;
        }
    }

    .Uno {
        position: relative;
        background-color: #E61616;
        background-size: cover;
    }

    .UnoB {
        position: absolute;
        top: -60px;
        left: 100px;
        width: 200px;

        @media (max-width:1100px) {
            width: 100px;
            left: 80px;
        }
    }

    .UnoL {
        position: absolute;
        bottom: 45px;
        left: 20px;
        width: 150px;

        @media (max-width:1100px) {
            width: 125px;
            left: 20px;
        }
    }

    .Jurassic {
        position: relative;
        background-image: url(img/JurassicF.png);
        background-size: cover;

        p {
            span {
                color: #515151;
            }

            @media (max-width:1100px) {
                font-size: 18px;
            }
        }
    }

    .jwB {
        position: absolute;
        top: -60px;
        left: 2px;
        width: 350px;

        @media (max-width:1100px) {
            width: 250px;
        }
    }

    .jwL {
        position: absolute;
        bottom: 45px;
        left: 20px;
        width: 150px;

        @media (max-width:1100px) {
            width: 100px;
            left: 20px;
        }
    }

    .MonsterH {
        position: relative;
        background-image: url(img/MHighF.png);
        background-size: cover;

        p {
            span {
                color: #620579;
            }

            @media (max-width:1100px) {
                font-size: 18px;
            }
        }
    }

    .mhB {
        position: absolute;
        top: -60px;
        left: 100px;
        width: 200px;

        @media (max-width:1100px) {
            width: 150px;
            left: 55px;
        }
    }

    .mhL {
        position: absolute;
        bottom: 45px;
        left: 20px;
        width: 150px;

        @media (max-width:1100px) {
            width: 100px;
        }
    }
}