@import url(https://fonts.googleapis.com/css2?family=Capriola&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif;
}

body {
    background-color: #F7F1E8;
}

header {
    background-color: #E61616;
    width: 100%;
    padding: 0px 25px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 100px;
        padding: 10px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-right: 50px;
        color: white;
        font-size: 20px;

        a {
            text-decoration: none;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                color: rgb(200, 200, 200);
                transition: 0.5s;
            }
        }

        img {
            position: absolute;
            right: 433px;
            height: 75px;
            width: 75px;
        }

        .select {
            position: relative;
        }
    }
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        gap: 75px;

        h1 {
            font-size: 2.2rem;
            font-weight: 900;
            width: 480px;

            span {
                color: #EA0028;
            }
        }

        p {
            font-size: 28px;
            font-weight: 600;
            width: 550px;
        }

        button {
            width: 225px;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #FF0000;
            border: none;
            color: white;
            border-radius: 20px;
            height: 50px;
            font-size: larger;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            transition: 1s;
            cursor: pointer;

            &:hover {
                transition: 1s;
                transform: scale(1.1);
                background-color: #A90202;
            }

            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
        }
    }

    img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
}

.Ddados {
    width: 100%;
    height: 250px;
    margin-top: -135px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dados {
        width: 75%;
        background-color: #ffffff;
        height: 200px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .dado {
            .ft {
                padding: 20px;
                background-color: #FBBC13;
                background-size: cover;
                border-radius: 100%;
            }

            .tf {
                background-color: #1C76C3;
            }

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;

            .bor {
                border-right: 2px solid black;
                padding-right: 20px;
                margin-right: 20px;
            }

            .Dtext {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                h1 {
                    font-size: 32px;
                    font-weight: 900;
                }

                p {
                    font-size: 22px;
                }
            }
        }
    }
}

.pq {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    h1 {
        width: 250px;
        font-size: 32px;
        border-bottom: 2px solid #FF0000;
    }

    p {
        font-size: 26px;
        width: 870px;
        font-weight: 700;
    }
}

.Qpq {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 165px;
    margin-top: 50px;

    .quadrado {
        position: relative;
        width: 400px;
        height: 400px;
        background-color: whitesmoke;
        border-radius: 25px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.60);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        text-align: center;

        .d1 {
            position: absolute;
            top: -40px;
            left: -50px;
        }

        .d2 {
            position: absolute;
            top: -30px;
            right: -25px;
        }

        .d3 {
            position: absolute;
            bottom: -40px;
            right: -40px;
        }

        .d4 {
            position: absolute;
            bottom: -35px;
            left: -55px;
        }

        h2 {
            font-size: 28px;
            font-weight: 900;
        }

        p {
            font-size: 24px;
            width: 350px;
        }

        .fundo {
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;

            img {
                width: 75px;
            }
        }

        .b1 {
            background-color: #F6BAB4;
        }

        .b2 {
            background-color: #C3DEA9;
        }

        .b3 {
            background-color: #FED978;
            width: 50px;
            padding: 50px;
        }

        .b4 {
            background-color: #C8DBEA;
        }

        .tx1 {
            width: 250px;
        }

        .tx2 {
            width: 300px;
        }
    }
}

.Card {
    margin-top: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 75%;
        display: flex;

        .text {
            margin-right: -55px;
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            color: white;
            padding: 20px;
            gap: 20px;
            background-color: #0E294D;
            border-radius: 20px;
            border-top-right-radius: 75px;
            border-bottom-right-radius: 75px;

            h1 {
                font-size: 28px;
                font-weight: 900;
            }

            p {
                font-size: 25px;
                width: 430px;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
                margin-left: -55px;
            }

            .doar {
                padding: 15px;
                background-color: #FF0000;
                border: none;
                color: white;
                border-radius: 20px;
                height: 50px;
                font-size: larger;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                transition: 1s;
                cursor: pointer;

                &:hover {
                    transition: 1s;
                    transform: scale(1.1);
                    background-color: #A90202;
                }

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 0px;
                }
            }

            .func {
                padding: 15px;
                background-color: transparent;
                border: 2px solid white;
                color: white;
                border-radius: 20px;
                font-size: larger;
                font-weight: 600;
                transition: 1s;
                cursor: pointer;

                &:hover {
                    transition: 1s;
                    transform: scale(1.1);
                    color: rgb(200, 200, 200);
                    border: 2px solid rgb(200, 200, 200);
                }
            }
        }

        img {
            margin-left: -10px;
            border-radius: 20px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}

footer {
    width: 100%;
    margin-top: -175px;

    img {
        width: 100%;
    }
}